# Download dataset and libraries

In [1]:
# Specify the dataset path
dataset_path = "aprabowo/indonesia-tourism-destination"

# Download the dataset
!kaggle datasets download -d {dataset_path}

# Unzip the downloaded file
!unzip indonesia-tourism-destination.zip

Dataset URL: https://www.kaggle.com/datasets/aprabowo/indonesia-tourism-destination
License(s): copyright-authors
Downloading indonesia-tourism-destination.zip to /content
  0% 0.00/158k [00:00<?, ?B/s]
100% 158k/158k [00:00<00:00, 61.5MB/s]
Archive:  indonesia-tourism-destination.zip
  inflating: package_tourism.csv
  inflating: tourism_rating.csv
  inflating: tourism_with_id.csv
  inflating: user.csv

In [2]:
!pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.10/dist-packages (from googlemaps) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2024.8.30)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40715 sha256=dc3349e31fe13feb4515d18cc9f18d899fe607626f6098a5dd3ad53c68d03cc7
  Stored in directory: /root/.cache/pip/wheels/17/f8/79/999d5d37118fd35d7219ef57933eb9d09886c4c4503a800f84
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0

# Import Library

In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Flatten, Dot, Dense, Add
from tensorflow.keras.models import Model
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error
import googlemaps

# Preprocessing dataset

In [4]:
# Load dataset
place = pd.read_csv('tourism_with_id.csv')
rating = pd.read_csv('tourism_rating.csv')
user = pd.read_csv('user.csv')

In [5]:
# Check for missing values
print(place.isnull().sum())
print(rating.isnull().sum())
print(user.isnull().sum())

Place_Id          0
Place_Name        0
Description       0
Category          0
City              0
Price             0
Rating            0
Time_Minutes    232
Coordinate        0
Lat               0
Long              0
Unnamed: 11     437
Unnamed: 12       0
dtype: int64
User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64
User_Id     0
Location    0
Age         0
dtype: int64

In [6]:
# Drop column that are not used
place = place.drop(['Unnamed: 11', 'Unnamed: 12'], axis=1)

# Drop duplicate values
rating.drop_duplicates(inplace=True)

In [7]:
# Calculate the median 'Time_Minutes' for each location
city_median = place.groupby('City')['Time_Minutes'].median()

# Fill in the blank value based on the median location
place['Time_Minutes'] = place.apply(
    lambda row: city_median[row['City']] if pd.isnull(row['Time_Minutes']) else row['Time_Minutes'],
    axis=1
)

In [8]:
# Combining the dataset
merge_data = pd.merge(rating, place[['Place_Id', 'Rating', 'Place_Name', 'Description', 'Category', 'City', 'Price', 'Time_Minutes', 'Coordinate', 'Lat', 'Long']], on='Place_Id', how='left')

# Calculating the mean rating for each place
merge_data = merge_data.groupby('Place_Id').agg(
    Mean_Rating=('Place_Ratings', 'mean'),
    Rating=('Rating', 'first'),
    Place_Name=('Place_Name', 'first'),
    Description=('Description', 'first'),
    Category=('Category', 'first'),
    City=('City', 'first'),
    Price=('Price', 'first'),
    Time_Minutes=('Time_Minutes', 'first'),
    Coordinate=('Coordinate', 'first'),
    Lat=('Lat', 'first'),
    Long=('Long', 'first')
).reset_index()

merge_data.head()

,Place_Id,Mean_Rating,Rating,Place_Name,Description,Category,City,Price,Time_Minutes,Coordinate,Lat,Long
0,1,3.722222,4.6,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153
1,2,2.840000,4.6,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125
2,3,2.526316,4.6,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538
3,4,2.857143,4.5,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,90.0,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156
4,5,3.520000,4.5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134

In [9]:
!wget https://raw.githubusercontent.com/Iq11k/Capstone-WizzMate/refs/heads/ML/data/flightsCapstone_cleaned.csv -O flightsCapstone_cleaned.csv

--2024-12-05 13:49:03--  https://raw.githubusercontent.com/Iq11k/Capstone-WizzMate/refs/heads/ML/data/flightsCapstone_cleaned.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7961 (7.8K) [text/plain]
Saving to: ‘flightsCapstone_cleaned.csv’

flightsCapstone_cle 100%[===================>]   7.77K  --.-KB/s    in 0s

2024-12-05 13:49:04 (59.8 MB/s) - ‘flightsCapstone_cleaned.csv’ saved [7961/7961]

# Filter

In [10]:
def filter_places(city=None, categories=None):
    """
    Filter places based on city and categories.

    Args:
        city: City name to filter places (optional).
        categories: List of categories to filter places (optional).

    Returns:
        Filtered DataFrame.
    """
    print(f"Filtering places - City: {city}, Categories: {categories}")

    filtered = merge_data.copy()
    if city:
        filtered = filtered[filtered['City'].str.contains(city, case=False, na=False)]

    if categories:
        print(f"Categories before filtering: {filtered['Category'].unique()}")
        filtered = filtered[filtered['Category'].isin(categories)]
        print(f"Categories after filtering: {filtered['Category'].unique()}")
        print(f"Number of places after category filtering: {len(filtered)}")

    return filtered

# CF

In [11]:
# Prepare the data
user_ids = rating['User_Id'].unique().tolist()
place_ids = merge_data['Place_Id'].unique().tolist()

user_id_to_index = {user_id: index for index, user_id in enumerate(user_ids)}
place_id_to_index = {place_id: index for index, place_id in enumerate(place_ids)}

rating['User_Index'] = rating['User_Id'].map(user_id_to_index)
rating['Place_Index'] = rating['Place_Id'].map(place_id_to_index)

num_users = len(user_ids)
num_places = len(place_ids)
embedding_size = 50

In [12]:
# Define the CF Model
user_input = Input(shape=(1,))
user_embedding = Embedding(num_users, embedding_size, embeddings_regularizer=tf.keras.regularizers.l2(1e-6))(user_input)
user_vec = Flatten()(user_embedding)

place_input = Input(shape=(1,))
place_embedding = Embedding(num_places, embedding_size, embeddings_regularizer=tf.keras.regularizers.l2(1e-6))(place_input)
place_vec = Flatten()(place_embedding)

dot_product = Dot(axes=1)([user_vec, place_vec])

# Add bias terms for users and places
user_bias = Embedding(num_users, 1)(user_input)
user_bias = Flatten()(user_bias)

place_bias = Embedding(num_places, 1)(place_input)
place_bias = Flatten()(place_bias)

prediction = Add()([dot_product, user_bias, place_bias])

In [13]:
# Define the Model
cf_model = Model([user_input, place_input], prediction)
cf_model.compile(optimizer='adam', loss='mean_squared_error')

In [14]:
# Train the model
cf_model.fit(
    [rating['User_Index'], rating['Place_Index']],
    rating['Place_Ratings'],
    epochs=20,
    verbose=1
)

Epoch 1/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 11.0788
Epoch 2/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 9.9102
Epoch 3/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 6.8497
Epoch 4/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.8347
Epoch 5/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.8412
Epoch 6/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.7180
Epoch 7/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 1.6912
Epoch 8/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 1.6055
Epoch 9/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 1.5425
Epoch 10/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.4863
Epoch 11/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.3591
Epoch 12/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.2942
Epoch 13/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.2011
Epoch 14/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.1339
Epoch 15/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.0393
Epoch 16/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.9253
Epoch 17/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.8443
Epoch 18/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 0.7647
Epoch 19/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 0.6724
Epoch 20/20
311/311 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 0.6112

In [15]:
def predict_ratings(user_id, place_ids):
    user_index = user_id_to_index[user_id]
    place_indices = [place_id_to_index[place_id] for place_id in place_ids if place_id in place_id_to_index]
    predictions = cf_model.predict([np.array([user_index] * len(place_indices)), np.array(place_indices)])
    return predictions.flatten()

# CBF

In [41]:
# Vectorizer di luar fungsi, dapat digunakan di berbagai bagian
vectorizer = TfidfVectorizer(stop_words='english')

# Cosine similarity di tingkat global, belum dihitung
cosine_sim = None

def calculate_cbf_scores(filtered_places):
    """
    Calculate content-based filtering (CBF) scores for the places based on categories or descriptions.

    Args:
        filtered_places: DataFrame of places to filter based on categories.

    Returns:
        A DataFrame of places with their CBF scores and other relevant details.
    """
    global cosine_sim  # Menyatakan bahwa cosine_sim adalah variabel global

    # Check if filtered_places is empty
    if filtered_places.empty:
        print("Warning: No places found after filtering!")
        return pd.DataFrame(columns=['Place_Id', 'name', 'category', 'similarity_score'])

    # Ensure 'Features' column creation works
    filtered_places['Features'] = filtered_places['Place_Name'] + ' ' + filtered_places['Category']

    try:
        # Vektorisasi fitur menggunakan TF-IDF
        tfidf_matrix = vectorizer.fit_transform(filtered_places['Features'])
        cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)  # Hitung cosine similarity
    except ValueError as e:
        print(f"Error in vectorization: {e}")
        print(f"Unique features: {filtered_places['Features'].unique()}")
        return pd.DataFrame(columns=['Place_Id', 'name', 'category', 'similarity_score'])

    # For each place, recommend places with highest similarity scores (top 10)
    recommendations = []
    for idx in range(len(filtered_places)):
        num_similar = min(10, len(filtered_places))  # Avoid out-of-bounds indices
        similar_indices = cosine_sim[idx].argsort()[-(num_similar -1):][::-1]  # Get top N similar places

        for similar_idx in similar_indices:
            if similar_idx != idx:  # Avoid recommending the same place
                recommendations.append({
                    'Place_Id': filtered_places.iloc[similar_idx]['Place_Id'],
                    'name': filtered_places.iloc[similar_idx]['Place_Name'],
                    'category': filtered_places.iloc[similar_idx]['Category'],
                    'similarity_score': cosine_sim[idx][similar_idx]
                })

    # If no recommendations found
    if not recommendations:
        print("No recommendations could be generated!")
        return pd.DataFrame(columns=['Place_Id', 'name', 'category', 'similarity_score'])

    return pd.DataFrame(recommendations)

# Distance Calculation (GMaps API)

In [17]:
# Function to calculate distance using Google Maps API
def calculate_distance(start_lat, start_lng, end_lat, end_lng):
    gmaps_api_key = 'AIzaSyDlVP8FhcQkBZVS7YqRIdw1Y6Zb6pqfe2U'
    gmaps = googlemaps.Client(key=gmaps_api_key)
    origin = (start_lat, start_lng)
    destination = (end_lat, end_lng)

    # Get distance matrix from Google Maps API
    result = gmaps.distance_matrix(origin, destination)

    try:
        # Get distance matrix from Google Maps API
        result = gmaps.distance_matrix(origin, destination)

        # Check if the result contains the expected data
        if (result and
            'rows' in result and
            result['rows'] and
            'elements' in result['rows'][0] and
            result['rows'][0]['elements'] and
            'distance' in result['rows'][0]['elements'][0] and
            'duration' in result['rows'][0]['elements'][0]):

            distance_km = result['rows'][0]['elements'][0]['distance']['value'] / 1000  # Convert meters to km
            travel_time = result['rows'][0]['elements'][0]['duration']['value'] / 60
            return distance_km, travel_time
        else:
            print(f"Incomplete distance matrix result for origin: {origin}, destination: {destination}")
            return None

    except Exception as e:
        print(f"Error calculating distance for origin: {origin}, destination: {destination}")
        print(f"Error details: {str(e)}")
        return None

# Recommendation Model

In [18]:
def recommend_tourist_destinations(
    user_id, user_lat, user_lng, user_city, user_categories,
    days=None, time=8, budget=None, is_new_user=False
    ):
    """
    Recommend tourist destinations with sequential distance calculation,
    resetting to original starting point each day.

    Args:
        user_id: The ID of the user for whom the recommendations are being made.
        user_lat (float): Latitude of the user's starting location.
        user_lng (float): Longitude of the user's starting location.
        user_city (str): City preference for the user.
        user_categories: Categories filter (if any).
        days: Number of days for splitting recommendations (if applicable).
        time (float): Fixed daily time limit set to 8 hours.
        budget (float): Budget preference for the user (if applicable).

    Returns:
        A list of recommended destinations for each day, total time used, and total budget spent.
    """

    # Check if existing user
    user_exists = user_id in rating['User_Id'].unique()

    # Determine categories
    if user_categories is None:
      if user_exists:
        # Get user's past ratings
        user_ratings = rating[rating['User_Id'] == user_id]

        # Merge ratings with place data to get categories
        user_rated_places = pd.merge(rating, merge_data[['Place_Id', 'Category']], on='Place_Id', how='left')

        # Count category frequencies and sort
        category_counts = user_rated_places['Category'].value_counts().reset_index()
        category_counts.columns = ['Category', 'Frequency']

        # Get the most frequent category
        user_categories = category_counts.head(2)['Category'].tolist()
        print(f"User's most frequent category: {user_categories}")

      else:
        city_places = merge_data[merge_data['City'].str.contains(user_city, case=False, na=False)]
        # Group by category and calculate mean rating
        category_ratings = city_places.groupby('Category')['Rating'].mean().sort_values(ascending=False)
        # Select top 3 categories with highest average ratings in the city
        user_categories = category_ratings.head(3).index.tolist()

        print(f"New user - selecting top-rated categories in {user_city}:")
        print(category_ratings)
        print(f"Selected categories: {user_categories}")

    # Ensure category is a list
    if not isinstance(user_categories, list):
      user_categories = [user_categories]

    print(f"Final categories: {user_categories}")

    # Step 1: Filter places based on city and categories (if provided)
    filtered_places = filter_places(
        city=user_city,
        categories=user_categories
        )

    # Step 2: Get Content-Based Filtering recommendations
    cbf_recommendations = calculate_cbf_scores(filtered_places)

    # Step 3: Get Collaborative Filtering recommendations
    place_ids = cbf_recommendations['Place_Id'].unique()

    if user_exists:
        cf_recommendations = predict_ratings(user_id, place_ids)

        # Convert to DataFrame
        cf_recommendations = pd.DataFrame({'Place_Id': place_ids, 'cf_rating': cf_recommendations})

    else:
        # Calculate weighted global average ratings
        global_avg_ratings = merge_data.groupby('Place_Id')['Rating'].mean()

        cf_recommendations = pd.DataFrame({
            'Place_Id': place_ids,
            'cf_rating': [
                global_avg_ratings.get(pid, merge_data['Rating'].mean()) + np.random.uniform(-0.5, 0.5)
                for pid in place_ids
                ]
        })

    # Convert to DataFrame
    cbf_recommendations = pd.DataFrame(cbf_recommendations)

    # Step 4: Combine recommendations
    combined_recommendations = pd.merge(
        cbf_recommendations,
        merge_data[['Place_Id', 'Rating', 'Time_Minutes', 'Price', 'Lat', 'Long']],
        on='Place_Id',
        how='left'
        )
    combined_recommendations = pd.merge(
        combined_recommendations,
        cf_recommendations,
        on='Place_Id',
        how='left'
        )

    # Calculate MSE between CBF and CF recommendations
    combined_recommendations['mse'] = (
        combined_recommendations['Rating'] - combined_recommendations['cf_rating'])**2

    # Sort recommendations by MSE to prioritize consistent recommendations
    combined_recommendations = combined_recommendations.sort_values('mse')

    # Remove duplicates, if any
    combined_recommendations = combined_recommendations.drop_duplicates(subset='Place_Id')

    # Track recommendations per day
    recommendations_per_day = []
    total_time_per_day = []
    total_budget_per_day = []

    # Track visited places across days
    visited_places = set()

    if days:
        for day in range(days):
            day_recommendations = []
            day_total_time = 0
            day_total_budget = 0

            # IMPORTANT: Reset to original starting point for each day
            current_lat = user_lat
            current_lng = user_lng

            # Iterate through sorted recommendations
            for _, place in combined_recommendations.iterrows():
                # Skip if place has been visited in previous days
                if place['Place_Id'] in visited_places:
                    continue

                # Calculate distance from current location to this destination
                distance_km, travel_time = calculate_distance(current_lat, current_lng, place['Lat'], place['Long'])

                # Calculate total time for this place (travel time + visit time in hours)
                place_total_time = (place['Time_Minutes'] / 60) + (travel_time / 60)

                # Check if adding this place would exceed 8-hour limit
                if day_total_time + place_total_time > time:
                    continue

                # Check budget constraint if provided
                if budget and day_total_budget + place['Price'] > budget:
                    continue

                # Add place to daily recommendations
                place_with_distance = place.copy()
                place_with_distance['distance_km'] = distance_km
                place_with_distance['travel_time'] = travel_time
                day_recommendations.append(place_with_distance)

                # Update tracking variables
                day_total_time += place_total_time
                day_total_budget += place['Price']

                # Update current location for next distance calculation
                current_lat = place['Lat']
                current_lng = place['Long']

                # Mark place as visited
                visited_places.add(place['Place_Id'])

            # Convert to DataFrame
            day_recommendations_df = pd.DataFrame(day_recommendations)
            recommendations_per_day.append(day_recommendations_df)
            total_time_per_day.append(day_total_time)
            total_budget_per_day.append(day_total_budget)

            # Calculate MSE
            mse = combined_recommendations['mse'].mean()

    return recommendations_per_day, total_time_per_day, total_budget_per_day, mse

# Testing Existing User

Test 1 - Existing User + 1 Category

In [19]:
user_id = 1
user_lat = -6.200000
user_lng = 106.816666
user_city = 'Jakarta'
user_categories = 'Budaya'
days = 2
budget = 150000
time = 8

# Get recommendations
recommendations_per_day, total_time_per_day, total_budget_per_day, mse = recommend_tourist_destinations(
    user_id,
    user_lat,
    user_lng,
    user_city,
    user_categories,
    days=days,
    time=time,
    budget=budget
    )

print(recommendations_per_day)
print("\nTotal Price per Day: ")
if total_budget_per_day:
    for day, price in enumerate(total_budget_per_day, 1):
        print(f"Day {day}: {price}")
else:
    print("No daily prices to display.")

print("\nTotal Hours Spent per Day: ")
if total_time_per_day:
    for day, hours in enumerate(total_time_per_day, 1):
      print(f"Day {day}: {hours:.2f} hours")
else:
    print("No daily hours to display.")

print("MSE: ", mse)

Final categories: ['Budaya']
Filtering places - City: Jakarta, Categories: ['Budaya']
Categories before filtering: ['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']
Categories after filtering: ['Budaya']
Number of places after category filtering: 32
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 144ms/step
[     Place_Id                         name category  similarity_score  Rating  \
91         18        Museum Bank Indonesia   Budaya          0.343395     4.7
16          2                     Kota Tua   Budaya          0.374817     4.6
141        63  Museum Kebangkitan Nasional   Budaya          0.119435     4.7
120        20        Museum Taman Prasasti   Budaya          0.359145     4.5
22          1             Monumen Nasional   Budaya          0.034841     4.6
1          44       Monumen Selamat Datang   Budaya          0.437107     4.7

     Time_Minutes  Price       Lat        Long  cf_rating       mse  \
91           90.0   2000 -6.137127  106.813005   4.270904  0.184124
16           90.0      0 -6.137645  106.817125   4.092838  0.257213
141          45.0   2000 -6.178352  106.838094   4.166779  0.284325
120          90.0   2000 -6.172224  106.818969   3.734440  0.586082
22           15.0  20000 -6.175392  106.827153   3.591905  1.016255
1            15.0      0 -6.194998  106.823050   3.053794  2.709995

     distance_km  travel_time
91        16.381    28.283333
16         2.028     6.300000
141        9.247    21.183333
120        3.858    11.666667
22         3.201    10.566667
1          3.993    13.833333  ,      Place_Id                   name category  similarity_score  Rating  \
131        24        Museum Nasional   Budaya          0.051361     4.6
127        70  Perpustakaan Nasional   Budaya          0.032532     4.7
61         17      Museum Fatahillah   Budaya          0.246212     4.4

     Time_Minutes  Price       Lat        Long  cf_rating       mse  \
131          90.0   5000 -6.176402  106.821590   3.390292  1.463394
127         240.0      0 -6.181292  106.826872   3.383524  1.733110
61           90.0   5000 -6.136449  106.813066   2.862032  2.365346

     distance_km  travel_time
131        4.918    13.233333
127        1.910     5.150000
61         8.227    22.916667  ]

Total Price per Day:
Day 1: 26000
Day 2: 10000

Total Hours Spent per Day:
Day 1: 7.28 hours
Day 2: 7.69 hours
MSE:  2.715488587937274

Test 2 - Existing User + No Category

In [20]:
user_id = 1
user_lat = -6.200000
user_lng = 106.816666
user_city = 'Jakarta'
user_categories = None
days = 2
budget = 150000
time = 8

# Get recommendations
recommendations_per_day, total_time_per_day, total_budget_per_day, mse = recommend_tourist_destinations(
    user_id,
    user_lat,
    user_lng,
    user_city,
    user_categories,
    days=days,
    time=time,
    budget=budget
    )

print(recommendations_per_day)
print("\nTotal Price per Day: ")
if total_budget_per_day:
    for day, price in enumerate(total_budget_per_day, 1):
        print(f"Day {day}: {price}")
else:
    print("No daily prices to display.")

print("\nTotal Hours Spent per Day: ")
if total_time_per_day:
    for day, hours in enumerate(total_time_per_day, 1):
      print(f"Day {day}: {hours:.2f} hours")
else:
    print("No daily hours to display.")

print("MSE: ", mse)

User's most frequent category: ['Taman Hiburan', 'Budaya']
Final categories: ['Taman Hiburan', 'Budaya']
Filtering places - City: Jakarta, Categories: ['Taman Hiburan', 'Budaya']
Categories before filtering: ['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']
Categories after filtering: ['Budaya' 'Taman Hiburan']
Number of places after category filtering: 59
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
[     Place_Id                   name       category  similarity_score  Rating  \
224        51    Jakarta Planetarium  Taman Hiburan          0.365617     4.1
265        41  Museum Bahari Jakarta         Budaya          0.347374     4.4
366        18  Museum Bank Indonesia         Budaya          0.168660     4.7
441         2               Kota Tua         Budaya          0.310249     4.6

     Time_Minutes  Price       Lat        Long  cf_rating       mse  \
224         120.0  12000 -6.190082  106.838853   4.048331  0.002670
265         120.0   2000 -6.126955  106.808590   4.214925  0.034253
366          90.0   2000 -6.137127  106.813005   4.270904  0.184124
441          90.0      0 -6.137645  106.817125   4.092838  0.257213

     distance_km  travel_time
224        5.375    16.016667
265       11.908    28.900000
366        2.110     7.000000
441        2.028     6.300000  ,      Place_Id                         name       category  similarity_score  \
9          78         Hutan Kota Srengseng  Taman Hiburan          0.310249
415        63  Museum Kebangkitan Nasional         Budaya          0.168660
373        20        Museum Taman Prasasti         Budaya          0.140125
307        30                Taman Menteng  Taman Hiburan          0.429316
464         6      Taman Impian Jaya Ancol  Taman Hiburan          0.440770

     Rating  Time_Minutes  Price       Lat        Long  cf_rating       mse  \
9       4.3          90.0   1000 -6.210694  106.764395   3.838310  0.213157
415     4.7          45.0   2000 -6.178352  106.838094   4.166779  0.284325
373     4.5          90.0   2000 -6.172224  106.818969   3.734440  0.586082
307     4.5          90.0      0 -6.196409  106.829311   3.713604  0.618418
464     4.5          10.0  25000 -6.117333  106.857995   3.633654  0.750555

     distance_km  travel_time
9         10.953    26.466667
415       12.640    31.866667
373        3.858    11.666667
307        4.207    15.116667
464       14.053    32.416667  ]

Total Price per Day:
Day 1: 16000
Day 2: 30000

Total Hours Spent per Day:
Day 1: 7.97 hours
Day 2: 7.38 hours
MSE:  2.007818471103425

Test 3 - Existing User + >1 Category

In [21]:
user_id = 1
user_lat = -6.200000
user_lng = 106.816666
user_city = 'Jakarta'
user_categories = ['Budaya', 'Taman Hiburan', 'Tempat Ibadah']
days = 2
budget = 150000
time = 10

# Get recommendations
recommendations_per_day, total_time_per_day, total_budget_per_day, mse = recommend_tourist_destinations(
    user_id,
    user_lat,
    user_lng,
    user_city,
    user_categories,
    days=days,
    time=time,
    budget=budget
    )

print(recommendations_per_day)
print("\nTotal Price per Day: ")
if total_budget_per_day:
    for day, price in enumerate(total_budget_per_day, 1):
        print(f"Day {day}: {price}")
else:
    print("No daily prices to display.")

print("\nTotal Hours Spent per Day: ")
if total_time_per_day:
    for day, hours in enumerate(total_time_per_day, 1):
      print(f"Day {day}: {hours:.2f} hours")
else:
    print("No daily hours to display.")

print("MSE: ", mse)

Final categories: ['Budaya', 'Taman Hiburan', 'Tempat Ibadah']
Filtering places - City: Jakarta, Categories: ['Budaya', 'Taman Hiburan', 'Tempat Ibadah']
Categories before filtering: ['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']
Categories after filtering: ['Budaya' 'Taman Hiburan' 'Tempat Ibadah']
Number of places after category filtering: 62
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
[     Place_Id                         name       category  similarity_score  \
208        51          Jakarta Planetarium  Taman Hiburan          0.346510
431        41        Museum Bahari Jakarta         Budaya          0.218944
278        18        Museum Bank Indonesia         Budaya          0.172599
456        78         Hutan Kota Srengseng  Taman Hiburan          0.475825
93         63  Museum Kebangkitan Nasional         Budaya          0.215298

     Rating  Time_Minutes  Price       Lat        Long  cf_rating       mse  \
208     4.1         120.0  12000 -6.190082  106.838853   4.048331  0.002670
431     4.4         120.0   2000 -6.126955  106.808590   4.214925  0.034253
278     4.7          90.0   2000 -6.137127  106.813005   4.270904  0.184124
456     4.3          90.0   1000 -6.210694  106.764395   3.838310  0.213157
93      4.7          45.0   2000 -6.178352  106.838094   4.166779  0.284325

     distance_km  travel_time
208        5.375    16.016667
431       11.908    28.900000
278        2.110     7.000000
456       24.685    33.350000
93        12.640    31.866667  ,      Place_Id                                               name  \
56          2                                           Kota Tua
318        39  Museum Macan (Modern and Contemporary Art in N...
389        20                              Museum Taman Prasasti
320        30                                      Taman Menteng
242        42                        Museum Seni Rupa dan Kramik

          category  similarity_score  Rating  Time_Minutes   Price       Lat  \
56          Budaya          0.370085     4.6          90.0       0 -6.137645
318         Budaya          0.000000     4.5         120.0  100000 -6.190942
389         Budaya          0.194647     4.5          90.0    2000 -6.172224
320  Taman Hiburan          0.350218     4.5          90.0       0 -6.196409
242         Budaya          0.205327     4.4          90.0    5000 -6.134260

           Long  cf_rating       mse  distance_km  travel_time
56   106.817125   4.092838  0.257213        8.750    23.750000
318  106.767622   3.818612  0.464289       12.964    26.616667
389  106.818969   3.734440  0.586082        7.734    19.250000
320  106.829311   3.713604  0.618418        4.207    15.116667
242  106.814552   3.564227  0.698517       11.042    29.300000  ]

Total Price per Day:
Day 1: 19000
Day 2: 107000

Total Hours Spent per Day:
Day 1: 9.70 hours
Day 2: 9.90 hours
MSE:  2.2184538784618013

# Testing New User

Test 4 - New User + 1 Category

In [22]:
user_id = 123456
user_lat = -6.200000
user_lng = 106.816666
user_city = 'Jakarta'
user_categories = 'Budaya'
days = 2
budget = 150000
time = 8

# Get recommendations
recommendations_per_day, total_time_per_day, total_budget_per_day, mse = recommend_tourist_destinations(
    user_id,
    user_lat,
    user_lng,
    user_city,
    user_categories,
    days=days,
    time=time,
    budget=budget
    )

print(recommendations_per_day)
print("\nTotal Price per Day: ")
if total_budget_per_day:
    for day, price in enumerate(total_budget_per_day, 1):
        print(f"Day {day}: {price}")
else:
    print("No daily prices to display.")

print("\nTotal Hours Spent per Day: ")
if total_time_per_day:
    for day, hours in enumerate(total_time_per_day, 1):
      print(f"Day {day}: {hours:.2f} hours")
else:
    print("No daily hours to display.")

print("MSE: ", mse)

Final categories: ['Budaya']
Filtering places - City: Jakarta, Categories: ['Budaya']
Categories before filtering: ['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']
Categories after filtering: ['Budaya']
Number of places after category filtering: 32
[     Place_Id                              name category  similarity_score  \
4          40         Galeri Nasional Indonesia   Budaya          0.351394
94         38  Istana Negara Republik Indonesia   Budaya          0.242096
40         48              Taman Ismail Marzuki   Budaya          0.359145
180        60                    Museum Tekstil   Budaya          0.043234
126         1                  Monumen Nasional   Budaya          0.034841
213        63       Museum Kebangkitan Nasional   Budaya          0.086771

     Rating  Time_Minutes  Price       Lat        Long  cf_rating       mse  \
4       4.6          90.0      0 -6.178548  106.832772   4.667426  0.004546
94      4.6          90.0      0 -6.168069  106.823973   4.496145  0.010786
40      4.6          90.0   5000 -6.189159  106.839774   4.487661  0.012620
180     4.5          45.0   5000 -6.187963  106.809608   4.659466  0.025429
126     4.6          15.0  20000 -6.175392  106.827153   4.832369  0.053995
213     4.7          45.0   2000 -6.178352  106.838094   4.367800  0.110357

     distance_km  travel_time
4          6.084    17.100000
94         3.908    10.550000
40         4.635    12.816667
180        6.096    17.916667
126        3.876    14.433333
213        3.722    13.600000  ,     Place_Id                    name category  similarity_score  Rating  \
8         16     Jembatan Kota Intan   Budaya          0.374817     4.3
67        17       Museum Fatahillah   Budaya          0.043234     4.4
16         2                Kota Tua   Budaya          0.374817     4.6
72        18   Museum Bank Indonesia   Budaya          0.251105     4.7
1         44  Monumen Selamat Datang   Budaya          0.437107     4.7

    Time_Minutes  Price       Lat        Long  cf_rating       mse  \
8           90.0      0 -6.131457  106.810617   4.498501  0.039403
67          90.0   5000 -6.136449  106.813066   4.620342  0.048551
16          90.0      0 -6.137645  106.817125   4.841714  0.058426
72          90.0   2000 -6.137127  106.813005   4.383641  0.100083
1           15.0      0 -6.194998  106.823050   5.088716  0.151100

    distance_km  travel_time
8        14.977    23.666667
67        1.474     4.933333
16        1.997     6.566667
72        3.731    10.333333
1        16.335    26.550000  ]

Total Price per Day:
Day 1: 32000
Day 2: 7000

Total Hours Spent per Day:
Day 1: 7.69 hours
Day 2: 7.45 hours
MSE:  0.09861276707223071

Test 5 - New User + No Category

In [23]:
user_id = 123456
user_lat = -6.200000
user_lng = 106.816666
user_city = 'Jakarta'
user_categories = None
days = 2
budget = 150000
time = 8

# Get recommendations
recommendations_per_day, total_time_per_day, total_budget_per_day, mse = recommend_tourist_destinations(
    user_id,
    user_lat,
    user_lng,
    user_city,
    user_categories,
    days=days,
    time=time,
    budget=budget
    )

print(recommendations_per_day)
print("\nTotal Price per Day: ")
if total_budget_per_day:
    for day, price in enumerate(total_budget_per_day, 1):
        print(f"Day {day}: {price}")
else:
    print("No daily prices to display.")

print("\nTotal Hours Spent per Day: ")
if total_time_per_day:
    for day, hours in enumerate(total_time_per_day, 1):
      print(f"Day {day}: {hours:.2f} hours")
else:
    print("No daily hours to display.")

print("MSE: ", mse)

New user - selecting top-rated categories in Jakarta:
Category
Tempat Ibadah         4.666667
Budaya                4.553125
Pusat Perbelanjaan    4.490000
Taman Hiburan         4.444444
Cagar Alam            4.375000
Bahari                4.362500
Name: Rating, dtype: float64
Selected categories: ['Tempat Ibadah', 'Budaya', 'Pusat Perbelanjaan']
Final categories: ['Tempat Ibadah', 'Budaya', 'Pusat Perbelanjaan']
Filtering places - City: Jakarta, Categories: ['Tempat Ibadah', 'Budaya', 'Pusat Perbelanjaan']
Categories before filtering: ['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']
Categories after filtering: ['Budaya' 'Pusat Perbelanjaan' 'Tempat Ibadah']
Number of places after category filtering: 45
[     Place_Id                       name            category  \
359        25          Pasar Tanah Abang  Pusat Perbelanjaan
71         35       Grand Indonesia Mall  Pusat Perbelanjaan
137        40  Galeri Nasional Indonesia              Budaya
171        73            Museum Perangko              Budaya
14          1           Monumen Nasional              Budaya

     similarity_score  Rating  Time_Minutes  Price       Lat        Long  \
359          0.203277     4.0          45.0      0 -6.189010  106.811931
71           0.000000     4.7         120.0      0 -6.195180  106.820441
137          0.223309     4.6          90.0      0 -6.178548  106.832772
171          0.133870     4.4          90.0   5000 -6.304184  106.901773
14           0.062092     4.6          15.0  20000 -6.175392  106.827153

     cf_rating       mse  distance_km  travel_time
359   4.009562  0.000091        1.804     6.466667
71    4.679869  0.000405        2.369     9.450000
137   4.577865  0.000490        4.441    15.683333
171   4.469535  0.004835       27.571    43.766667
14    4.796848  0.038749       24.959    42.750000  ,      Place_Id                         name            category  \
31         70        Perpustakaan Nasional              Budaya
306        63  Museum Kebangkitan Nasional              Budaya
8          16          Jembatan Kota Intan              Budaya
330        26               Pecinan Glodok  Pusat Perbelanjaan

     similarity_score  Rating  Time_Minutes  Price       Lat        Long  \
31           0.047395     4.7         240.0      0 -6.181292  106.826872
306          0.368764     4.7          45.0   2000 -6.178352  106.838094
8            0.387857     4.3          90.0      0 -6.131457  106.810617
330          0.285486     4.3          20.0      0 -6.142759  106.814079

     cf_rating       mse  distance_km  travel_time
31    4.658248  0.001743        5.503    15.050000
306   4.791894  0.008444        2.910     8.716667
8     4.192619  0.011531        8.947    21.866667
330   4.484102  0.033894        3.548    12.333333  ]

Total Price per Day:
Day 1: 25000
Day 2: 2000

Total Hours Spent per Day:
Day 1: 7.97 hours
Day 2: 7.55 hours
MSE:  0.07314109195270432

Test 6 - New User + >1 Category

In [24]:
user_id = 123456
user_lat = -6.200000
user_lng = 106.816666
user_city = 'Jakarta'
user_categories = ['Budaya', 'Taman Hiburan']
days = 2
budget = 150000
time = 8

# Get recommendations
recommendations_per_day, total_time_per_day, total_budget_per_day, mse = recommend_tourist_destinations(
    user_id,
    user_lat,
    user_lng,
    user_city,
    user_categories,
    days=days,
    time=time,
    budget=budget
    )

print(recommendations_per_day)
print("\nTotal Price per Day: ")
if total_budget_per_day:
    for day, price in enumerate(total_budget_per_day, 1):
        print(f"Day {day}: {price}")
else:
    print("No daily prices to display.")

print("\nTotal Hours Spent per Day: ")
if total_time_per_day:
    for day, hours in enumerate(total_time_per_day, 1):
      print(f"Day {day}: {hours:.2f} hours")
else:
    print("No daily hours to display.")

print("MSE: ", mse)

Final categories: ['Budaya', 'Taman Hiburan']
Filtering places - City: Jakarta, Categories: ['Budaya', 'Taman Hiburan']
Categories before filtering: ['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']
Categories after filtering: ['Budaya' 'Taman Hiburan']
Number of places after category filtering: 59
[     Place_Id                     name       category  similarity_score  \
67         73          Museum Perangko         Budaya          0.264255
151        57   Taman Lapangan Banteng  Taman Hiburan          0.342557
464         6  Taman Impian Jaya Ancol  Taman Hiburan          0.440770
284        60           Museum Tekstil         Budaya          0.077431
74         24          Museum Nasional         Budaya          0.269755

     Rating  Time_Minutes  Price       Lat        Long  cf_rating       mse  \
67      4.4          90.0   5000 -6.304184  106.901773   4.440848  0.001669
151     4.7          90.0      0 -6.170555  106.835038   4.657825  0.001779
464     4.5          10.0  25000 -6.117333  106.857995   4.451856  0.002318
284     4.5          45.0   5000 -6.187963  106.809608   4.440653  0.003522
74      4.6          90.0   5000 -6.176402  106.821590   4.505348  0.008959

     distance_km  travel_time
67        24.843    38.666667
151       26.587    38.333333
464        9.528    21.283333
284       23.310    38.783333
74         2.778     9.883333  ,      Place_Id                         name       category  similarity_score  \
86         54   Taman Agrowisata Cilangkap  Taman Hiburan          0.240460
419        33               Taman Suropati  Taman Hiburan          0.226880
226        42  Museum Seni Rupa dan Kramik         Budaya          0.205583
267        58                 Taman Ayodya  Taman Hiburan          0.242643

     Rating  Time_Minutes  Price       Lat        Long  cf_rating       mse  \
86      4.2          90.0      0 -6.340151  106.901256   4.283179  0.006919
419     4.6          90.0      0 -6.199403  106.832623   4.714163  0.013033
226     4.4          90.0   5000 -6.134260  106.814552   4.514953  0.013214
267     4.4          45.0      0 -6.245229  106.794665   4.270431  0.016788

     distance_km  travel_time
86        26.730    41.016667
419       25.904    40.983333
226       10.414    26.316667
267       17.814    34.416667  ]

Total Price per Day:
Day 1: 40000
Day 2: 5000

Total Hours Spent per Day:
Day 1: 7.87 hours
Day 2: 7.63 hours
MSE:  0.07605723513834918

# with flights dataset

In [25]:
!wget https://raw.githubusercontent.com/Iq11k/Capstone-WizzMate/refs/heads/ML/data/flightsCapstone_cleaned.csv -O flightsCapstone_cleaned.csv

--2024-12-05 13:50:39--  https://raw.githubusercontent.com/Iq11k/Capstone-WizzMate/refs/heads/ML/data/flightsCapstone_cleaned.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7961 (7.8K) [text/plain]
Saving to: ‘flightsCapstone_cleaned.csv’

flightsCapstone_cle 100%[===================>]   7.77K  --.-KB/s    in 0s

2024-12-05 13:50:39 (84.4 MB/s) - ‘flightsCapstone_cleaned.csv’ saved [7961/7961]

In [26]:
flights_data = pd.read_csv('flightsCapstone_cleaned.csv')

In [27]:
flights_data.head()

,departure_airport_name,departure_time,arrival_airport_name,arrival_time,duration,airline,travel_class,price
0,Bandar Udara Internasional Soekarno Hatta,2024-11-27 06:00:00,Bandar Udara Internasional Yogyakarta,2024-11-27 07:15:00,75,Batik Air,Economy,1663380
1,Bandar Udara Internasional Soekarno Hatta,2024-11-27 18:10:00,Bandar Udara Internasional Yogyakarta,2024-11-27 19:25:00,75,Citilink Indonesia,Economy,1753371
2,Bandar Udara Internasional Soekarno Hatta,2024-11-27 14:45:00,Bandar Udara Internasional Yogyakarta,2024-11-27 16:05:00,80,Garuda Indonesia,Economy,2040820
3,Bandar Udara Internasional Soekarno Hatta,2024-11-27 17:20:00,Bandar Udara Internasional Yogyakarta,2024-11-27 18:30:00,70,Pelita Air Service,Economy,1930000
4,Bandar Udara Internasional Soekarno Hatta,2024-11-27 08:15:00,Bandar Udara Jenderal Ahmad Yani,2024-11-27 09:30:00,75,Citilink Indonesia,Economy,1644142

In [28]:
print(flights_data['departure_airport_name'].unique())
print(flights_data['arrival_airport_name'].unique())

['Bandar Udara Internasional Soekarno Hatta'
 'Bandar Udara Internasional Yogyakarta'
 'Bandar Udara Jenderal Ahmad Yani' 'Bandar Udara Internasional Juanda'
 'Bandar Udara Internasional Changi Singapura']
['Bandar Udara Internasional Yogyakarta'
 'Bandar Udara Jenderal Ahmad Yani' 'Bandar Udara Internasional Juanda'
 'Bandar Udara Internasional Soekarno Hatta'
 'Bandar Udara Internasional Changi Singapura']

In [29]:
def map_city_to_airport(city):
    """Map input city to full airport name"""
    airport_mapping = {
        'Jakarta': 'Bandar Udara Internasional Soekarno Hatta',
        'Yogyakarta': 'Bandar Udara Internasional Yogyakarta',
        'Semarang': 'Bandar Udara Jenderal Ahmad Yani',
        'Surabaya': 'Bandar Udara Internasional Juanda',
        'Singapore': 'Bandar Udara Internasional Changi Singapura'
    }
    return airport_mapping.get(city, city)

In [30]:
def filter_flights(departure_city, destination_city, max_budget=None):
    # Convert city names to full airport names
    departure_airport = map_city_to_airport(departure_city)
    destination_airport = map_city_to_airport(destination_city)

    filtered_flights = flights_data[
        (flights_data['departure_airport_name'] == departure_airport) &
        (flights_data['arrival_airport_name'] == destination_airport)
    ]

    if max_budget:
        filtered_flights = filtered_flights[filtered_flights['price'] <= max_budget]

    return filtered_flights.sort_values(by='price')

In [31]:
# Tambahkan kode ini di dalam fungsi utama rekomendasi
def recommend_tourist_destinations(
    user_id, user_lat, user_lng, user_city, user_categories,
    days=None, time=8, budget=None, is_new_user=False,
    departure_city=None, destination_city=None

    ):

    """
    Recommend tourist destinations with sequential distance calculation,
    resetting to original starting point each day.

    Args:
        user_id: The ID of the user for whom the recommendations are being made.
        user_lat (float): Latitude of the user's starting location.
        user_lng (float): Longitude of the user's starting location.
        user_city (str): City preference for the user.
        user_categories: Categories filter (if any).
        days: Number of days for splitting recommendations (if applicable).
        time (float): Fixed daily time limit set to 8 hours.
        budget (float): Budget preference for the user (if applicable).

    Returns:
        A list of recommended destinations for each day, total time used, and total budget spent.
    """

    # Rekomendasi penerbangan
    recommended_flights = pd.DataFrame()  # Default empty DataFrame
    if departure_city and destination_city:
      recommended_flights = filter_flights(departure_city, destination_city, budget)

      # If no flights found within budget, try without budget constraint
      if recommended_flights.empty and budget:
          recommended_flights = filter_flights(departure_city, destination_city)

    # Check if existing user
    user_exists = user_id in rating['User_Id'].unique()

    # Determine categories
    if user_categories is None:
      if user_exists:
        # Get user's past ratings
        user_ratings = rating[rating['User_Id'] == user_id]

        # Merge ratings with place data to get categories
        user_rated_places = pd.merge(rating, merge_data[['Place_Id', 'Category']], on='Place_Id', how='left')

        # Count category frequencies and sort
        category_counts = user_rated_places['Category'].value_counts().reset_index()
        category_counts.columns = ['Category', 'Frequency']

        # Get the most frequent category
        user_categories = category_counts.head(2)['Category'].tolist()
        print(f"User's most frequent category: {user_categories}")

      else:
        city_places = merge_data[merge_data['City'].str.contains(user_city, case=False, na=False)]
        # Group by category and calculate mean rating
        category_ratings = city_places.groupby('Category')['Rating'].mean().sort_values(ascending=False)
        # Select top 3 categories with highest average ratings in the city
        user_categories = category_ratings.head(3).index.tolist()

        print(f"New user - selecting top-rated categories in {user_city}:")
        print(category_ratings)
        print(f"Selected categories: {user_categories}")

    # Ensure category is a list
    if not isinstance(user_categories, list):
      user_categories = [user_categories]

    print(f"Final categories: {user_categories}")

    # Step 1: Filter places based on city and categories (if provided)
    filtered_places = filter_places(
        city=user_city,
        categories=user_categories
        )

    # Step 2: Get Content-Based Filtering recommendations
    cbf_recommendations = calculate_cbf_scores(filtered_places)

    # Step 3: Get Collaborative Filtering recommendations
    place_ids = cbf_recommendations['Place_Id'].unique()

    if user_exists:
        cf_recommendations = predict_ratings(user_id, place_ids)

        # Convert to DataFrame
        cf_recommendations = pd.DataFrame({'Place_Id': place_ids, 'cf_rating': cf_recommendations})

    else:
        # Calculate weighted global average ratings
        global_avg_ratings = merge_data.groupby('Place_Id')['Rating'].mean()

        cf_recommendations = pd.DataFrame({
            'Place_Id': place_ids,
            'cf_rating': [
                global_avg_ratings.get(pid, merge_data['Rating'].mean()) + np.random.uniform(-0.5, 0.5)
                for pid in place_ids
                ]
        })

    # Convert to DataFrame
    cbf_recommendations = pd.DataFrame(cbf_recommendations)

    # Step 4: Combine recommendations
    combined_recommendations = pd.merge(
        cbf_recommendations,
        merge_data[['Place_Id', 'Rating', 'Time_Minutes', 'Price', 'Lat', 'Long']],
        on='Place_Id',
        how='left'
        )
    combined_recommendations = pd.merge(
        combined_recommendations,
        cf_recommendations,
        on='Place_Id',
        how='left'
        )

    # Calculate MSE between CBF and CF recommendations
    combined_recommendations['mse'] = (
        combined_recommendations['Rating'] - combined_recommendations['cf_rating'])**2

    # Sort recommendations by MSE to prioritize consistent recommendations
    combined_recommendations = combined_recommendations.sort_values('mse')

    # Remove duplicates, if any
    combined_recommendations = combined_recommendations.drop_duplicates(subset='Place_Id')

    # Track recommendations per day
    recommendations_per_day = []
    total_time_per_day = []
    total_budget_per_day = []

    # Track visited places across days
    visited_places = set()

    if days:
        for day in range(days):
            day_recommendations = []
            day_total_time = 0
            day_total_budget = 0

            # IMPORTANT: Reset to original starting point for each day
            current_lat = user_lat
            current_lng = user_lng

            # Iterate through sorted recommendations
            for _, place in combined_recommendations.iterrows():
                # Skip if place has been visited in previous days
                if place['Place_Id'] in visited_places:
                    continue

                # Calculate distance from current location to this destination
                distance_km, travel_time = calculate_distance(current_lat, current_lng, place['Lat'], place['Long'])

                # Calculate total time for this place (travel time + visit time in hours)
                place_total_time = (place['Time_Minutes'] / 60) + (travel_time / 60)

                # Check if adding this place would exceed 8-hour limit
                if day_total_time + place_total_time > time:
                    continue

                # Check budget constraint if provided
                if budget and day_total_budget + place['Price'] > budget:
                    continue

                # Add place to daily recommendations
                place_with_distance = place.copy()
                place_with_distance['distance_km'] = distance_km
                place_with_distance['travel_time'] = travel_time
                day_recommendations.append(place_with_distance)

                # Update tracking variables
                day_total_time += place_total_time
                day_total_budget += place['Price']

                # Update current location for next distance calculation
                current_lat = place['Lat']
                current_lng = place['Long']

                # Mark place as visited
                visited_places.add(place['Place_Id'])

            # Convert to DataFrame
            day_recommendations_df = pd.DataFrame(day_recommendations)
            recommendations_per_day.append(day_recommendations_df)
            total_time_per_day.append(day_total_time)
            total_budget_per_day.append(day_total_budget)

            # Calculate MSE
            mse = combined_recommendations['mse'].mean()

    return recommendations_per_day, total_time_per_day, total_budget_per_day, mse, recommended_flights

In [42]:
user_id = 123456
user_lat = -6.200000
user_lng = 106.816666
user_city = 'Jakarta'
user_categories = ['Budaya', 'Taman Hiburan']
days = 2
budget = 1700000
time = 8
departure_city = 'Yogyakarta'


recommendations_per_day, total_time_per_day, total_budget_per_day, mse, recommended_flights = recommend_tourist_destinations(
    user_id=user_id,
    user_lat=user_lat,
    user_lng=user_lng,
    user_city=user_city,
    user_categories=user_categories,
    days=days,
    time=time,
    budget=budget,
    departure_city=departure_city,
    destination_city=user_city
)

print(recommendations_per_day)
print("\nTotal Price per Day: ")
if total_budget_per_day:
    for day, price in enumerate(total_budget_per_day, 1):
        print(f"Day {day}: {price}")
else:
    print("No daily prices to display.")

print("\nTotal Hours Spent per Day: ")
if total_time_per_day:
    for day, hours in enumerate(total_time_per_day, 1):
      print(f"Day {day}: {hours:.2f} hours")
else:
    print("No daily hours to display.")


if not recommended_flights.empty:
    print("\nRecommended Flights:")
    print(recommended_flights[['departure_time', 'arrival_time', 'airline', 'travel_class', 'price']])
else:
    print("\nNo flight recommendations available.")


print("MSE: ", mse)

Final categories: ['Budaya', 'Taman Hiburan']
Filtering places - City: Jakarta, Categories: ['Budaya', 'Taman Hiburan']
Categories before filtering: ['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']
Categories after filtering: ['Budaya' 'Taman Hiburan']
Number of places after category filtering: 59
[     Place_Id                   name category  similarity_score  Rating  \
76         21          Museum Wayang   Budaya          0.222206     4.5
2          70  Perpustakaan Nasional   Budaya          0.433056     4.7
345         1       Monumen Nasional   Budaya          0.406639     4.6

     Time_Minutes  Price       Lat        Long  cf_rating       mse  \
76          150.0   5000 -6.134907  106.812445   4.540989  0.001680
2           240.0      0 -6.181292  106.826872   4.646165  0.002898
345          15.0  20000 -6.175392  106.827153   4.683680  0.007002

     distance_km  travel_time
76        15.531    26.183333
2          8.238    23.000000
345        1.713     5.933333  ,      Place_Id                     name       category  similarity_score  \
274        73          Museum Perangko         Budaya          0.077431
217        24          Museum Nasional         Budaya          0.079826
192        51      Jakarta Planetarium  Taman Hiburan          0.347374
464         6  Taman Impian Jaya Ancol  Taman Hiburan          0.440770

     Rating  Time_Minutes  Price       Lat        Long  cf_rating       mse  \
274     4.4          90.0   5000 -6.304184  106.901773   4.456725  0.003218
217     4.6          90.0   5000 -6.176402  106.821590   4.525627  0.005531
192     4.1         120.0  12000 -6.190082  106.838853   4.232696  0.017608
464     4.5          10.0  25000 -6.117333  106.857995   4.648058  0.021921

     distance_km  travel_time
274       24.843    38.666667
217       25.387    39.966667
192        3.788    12.583333
464       12.398    28.400000  ]

Total Price per Day:
Day 1: 25000
Day 2: 47000

Total Hours Spent per Day:
Day 1: 7.67 hours
Day 2: 7.16 hours

Recommended Flights:
         departure_time         arrival_time             airline travel_class  \
13  2024-11-27 16:15:00  2024-11-27 17:30:00           TransNusa      Economy
14  2024-11-27 19:55:00  2024-11-27 21:10:00  Citilink Indonesia      Economy
15  2024-11-27 19:15:00  2024-11-27 20:30:00           Batik Air      Economy

      price
13  1603082
14  1645790
15  1664520
MSE:  0.1040731837380522

# Save Model

In [43]:
import joblib

# Simpan TF-IDF Vectorizer
joblib.dump(vectorizer, 'vectorizer_model.pkl')

# Simpan matriks cosine similarity
joblib.dump(cosine_sim, 'cosine_similarity_model.pkl')

['cosine_similarity_model.pkl']

In [44]:
# Menyimpan model CF dalam format .h5
cf_model.save('cf_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [45]:
# Load model yang telah disimpan
model = tf.keras.models.load_model('cf_model.h5')

# Konversi ke format TFLite
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

# Simpan model TFLite
with open('cf_model.tflite', 'wb') as f:
    f.write(tflite_model)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

Saved artifact at '/tmp/tmpfjixxd9n'. The following endpoints are available:

* Endpoint 'serve'
  args_0 (POSITIONAL_ONLY): List[TensorSpec(shape=(None, 1), dtype=tf.float32, name='input_layer'), TensorSpec(shape=(None, 1), dtype=tf.float32, name='input_layer_1')]
Output Type:
  TensorSpec(shape=(None, 1), dtype=tf.float32, name=None)
Captures:
  134667696364832: TensorSpec(shape=(), dtype=tf.resource, name=None)
  134667696357440: TensorSpec(shape=(), dtype=tf.resource, name=None)
  134667694381488: TensorSpec(shape=(), dtype=tf.resource, name=None)
  134667696372400: TensorSpec(shape=(), dtype=tf.resource, name=None)